{% extends "layouts/main.twig" %}

{% block title %} <title>Product Add</title>{% endblock %}

{% block content %}

        <h2 class="title">Product Add</h2>
        <section class="products" id="products">
            <div class="action">
                <button form="product_form" class="add-btn" onclick="submitForm('product_form')">Save</button>
                <button class="mass-delete-btn" id="delete-product-btn"><a class="add-btn-anchor" href="/">Cancel</a></button>
            </div>

            {#---just on development for dubuging---#}
            {% for error in errors %}<br>
                <h5>{{ error }} </h5>
            {% endfor %}


            <div class="content">

                <form action="/add-product" method="post" id="product_form">
                    <div class="input-group" id="base-input">
                        <div class="input">
                            <div class="input-field-label-div">
                                <label for="sku" class="input-field-label">SKU </label>
                            </div>

                            <div class="input-field-div" >
                                <div  class="input-field">
                                    <input type="text" name="sku" id="sku" >
                                </div>

                                <div class="input-field" >
                                    <p  class='text-red' id="sku-error"></p>
                                </div>
                            </div>

                        </div>
                        <div class="input">
                             <div class="input-field-label-div">
                                 <label for="name" class="input-field-label">Name </label>
                            </div>

                            <div class="input-field-div" >
                                <div class="input-field">
                                    <input type="text" name="name" id="name"  >
                                </div>


                                <div class="input-field" >
                                    <p  class='text-red' id="name-error"></p>
                                </div>
                            </div>



                        </div>
                        <div class="input">
                            <div class="input-field-label-div">
                                <label for="price" class="input-field-label">Price ($)</label>
                            </div>

                            <div class="input-field-div" >
                                <div class="input-field">
                                    <input type="number" name="price" id="price"  required>
                                </div>


                                <div class="input-field" >
                                    <p  class='text-red' id="price-error"></p>
                                </div>
                            </div>


                        </div>
                    </div>

                    <div class="input-group">
                        <div class="input">
                            <div class="input-field-label-div">
                                <label class="input-field-label" for="productType">Type Switcher</label>
                            </div>

                             <div class="input-field-div" >
                                <div class="input-field">
                                    <select name="product_type" id="productType" required oninput="typeSwitch()">
                                        <option selected disabled>Chose The Product Type</option>
                                        <option value="dvd" id="DVD">DVD</option>
                                        <option value="book" id="Book">Book</option>
                                        <option value="furniture" id="Furniture">Furniture</option>
                                    </select>
                                </div>


                                <div class="input-field" >
                                    <p  class='text-red' id="product_type-error"></p>
                                </div>
                            </div>


                        </div>
                    </div>


                   {# --------------------------------------dvd-------------------------------------#}
                    <div class="input-group" id="dvd-input" >
                        <div class="input-hint">
                            <p>Please provide the size of the disk in MB.</p>
                        </div>
                        <div class="input">
                            <div class="input-field-label-div">
                                <label for="size" class="input-field-label">Size (MB)</label>
                            </div>

                             <div class="input-field-div" >
                                <div class="input-field">
                                    <input type="number" name="product_info[size]" id="size"  disabled required>
                                </div>


                                <div class="input-field" >
                                    <p  class='text-red' id="size-error"></p>
                                </div>
                            </div>



                        </div>
                    </div>
                   {# -------------------------------------book--------------------------------------#}
                    <div class="input-group" id="book-input" >
                        <div class="input-hint">
                            <p>Please provide the Weight of the book in KG.</p>
                        </div>
                        <div class="input">
                            <div class="input-field-label-div">
                                <label for="weight" class="input-field-label">Weight (KG)</label>
                            </div>

                            <div class="input-field-div" >
                                <div class="input-field">
                                    <input type="number" name="product_info[weight]" id="weight"  disabled required>
                                </div>


                                <div class="input-field" >
                                    <p  class='text-red' id="weight-error"></p>
                                </div>
                            </div>

                        </div>
                    </div>
                   {# -------------------------------------Furniture--------------------------------------#}
                    <div class="input-group" id="furniture-input" aria-disabled="true">
                        <div class="input-hint">
                            <p>Please provide dimensions in HxWxLx.</p>
                        </div>
                        <div class="input">
                            <div class="input-field-label-div">
                                <label for="height" class="input-field-label">Height (CM)</label>
                            </div>
                            <div class="input-field-div" >
                                <div class="input-field">
                                    <input type="number" name="product_info[height]" id="height"  disabled required>
                                </div>
                                <div class="input-field" >
                                    <p  class='text-red' id="height-error"></p>
                                </div>
                            </div>
                        </div>
                        <div class="input">
                            <div class="input-field-label-div">
                                <label for="width" class="input-field-label">Width (CM)</label>
                            </div>

                            <div class="input-field-div" >
                                <div class="input-field">
                                    <input type="number" name="product_info[width]" id="width" disabled required>
                                </div>

                                <div class="input-field" >
                                    <p class='text-red' id="width-error"></p>
                                </div>
                            </div>

                        </div>
                        <div class="input">
                            <div class="input-field-label-div">
                                <label for="length" class="input-field-label">Length (CM)</label>
                            </div>

                            <div class="input-field-div" >
                                <div class="input-field">
                                    <input type="number" name="product_info[length]" id="length"   disabled required>
                                </div>

                                <div class="input-field" >
                                    <p  class='text-red' id="length-error"></p>
                                </div>
                            </div>
                        </div>

                    </div>
                </form>
            </div>
        </section>



{% endblock %}
