.h1{
     color: darkblue;
     font-size: 40px;
 }

.assign-3-shape-1{
    width: 400px;
    background-color: wheat;
    padding: 75px;
    border-width: 20px;
    border-color: darkred green;
    border-style: solid;
    margin: 10px;
    border-radius: 70px;

    overflow: auto;
 }

.div1,
.div2,
.div3
{
    background-color: antiquewhite;
    width: fit-content;
    height: 30px;
    padding: 10px;
    margin: 10px;
    float: left;
    text-align: center;
}
.div1{
     background-color: dodgerblue;
 }

.div2{
    color: rgba(13, 76, 235, 0.98);
 }
