@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
header {
    background-color: whitesmoke;
    width: 100%;
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.7em  10em;
}

.logo {
    text-decoration: none;
    color: #45464c;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.8em;
    transition: 0.7s ease;
}

.navigation a{
    display: inline-block;
    margin-left: 2em ;
    color: #45464c;
    text-decoration: none;
    text-transform: capitalize;
    font-weight: 600;
    font-size: 1.1em;
    transition: 0.7s ease;
}

header .logo:hover {
    transform: scale(1.1);
    color: darkred;
}

.navigation a:hover {
    transform: scale(1.1);
    color: darkred;
}


#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
    padding-top: 1rem;
    padding-bottom: 2.5rem;    /* Footer height */
}


#page-container #content-wrap .title ,
.page-not-found{
    padding: 100px;
    text-align: center;
    color: #ba7204;
}

.products .content{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 3rem;
}

.products .content .card{
    background-color: white;
    width: 21.25em;
    margin: 20px;
    box-shadow: 0 5px 25px rgba(1 1 1/20%);
    border-radius: 10px;
    padding: 25px;
}

.products .content .card .info{
    text-align: center;

}

.products .content .card .delete-checkbox{
    width: 20px;
    height: 20px;
}

.products .action{
    display: flex;
    justify-content: flex-end;
    margin: 20px;

}

.products .action .add-btn,
.products .action .mass-delete-btn{
    padding: 5px;
    background-color: #f2cf9b;
    border-radius: 7px;
    border-color: #f2cf9b;
    font-size: 20px;
    color: #45464c;
}

.add-btn-anchor {
    text-decoration: none;
    color: #45464c;
    font-size: 20px;
}

.products .action .mass-delete-btn{
    margin-left: 10px;
}

.products .action .mass-delete-btn:hover{
    background-color: rgba(254, 96, 4, 0.98);
}

.products .action .add-btn:hover{
    background-color: sandybrown;
    opacity: 0.8;
}

.input-hint {
    margin: 2rem;
    font-style: italic;
    font-size: small;
     font-weight: bold;
}
.input {
    margin: 1rem;
}

.input-group {
    margin: 1rem;
}
.input-field-label {
    margin: 1rem;
}
.input-field {

    margin-left: 1rem;
}

#dvd-input,
#book-input,
#furniture-input
{
    display: none;
}


/* --------------- footer --------------- */

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 4rem;
    margin-top: 50px;
    padding: 0.5rem;
    background-color: #45464c;
    text-align: center;

}

footer p {
    padding: 0.1rem;
    font-size: 25px;
    font-weight: 500;
    color: white;
}

footer span{
    color:sandybrown;
    font-family: "Bitstream Charter", serif;
}







@media (max-width:1023px){
    
    header{
        padding: 12px 20px;
    }

    .navigation a{
        padding-left: 10px;
    }

    .title{
        font-size: 1.8em;
        padding-top: 5px;
        margin-top: 5px;
    }

    section{
        padding: 80px 20px;
    }




    .content{
        flex-direction: column;
        align-items: center;
    }

}

@media (max-width:700px){
    .navigation a{
        padding: 0;
        margin-left: 0.8em ;
        font-weight: 500;
        font-size: 1em;
    }
    body{
        font-size: 20px;
    }

    .products {
        padding: 200px 50px 200px;
        min-height: 900px;

    }
    .name {
        font-size: 20px;
    }

    
footer {
    margin-top: 50px;
    height: 100px;
}

footer p {
    padding: 20px;
    font-size: 15px;
    font-weight: 500;
}

footer span{
    display: block;
}

footer .social-icons a {
    padding-top: 0;
    font-size: 15px;
}


}

@media (max-width:300px){
    body{
        font-size: 10px
    }
}
